{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}



{% block main-content %}

<section class="about" id="about">

  <h3 class="sub-heading"> about us </h3>
  <h1 class="heading"> why choose us? </h1>

  <div class="row">

      <div class="image">
          <img src="images/about-img.png" alt="">
      </div>

      <div class="content">
          <h3>best food in the country</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sequi corrupti corporis quaerat voluptatem ipsam neque labore modi autem, saepe numquam quod reprehenderit rem? Tempora aut soluta odio corporis nihil!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nemo. Sit porro illo eos cumque deleniti iste alias, eum natus.</p>
          <div class="icons-container">
              <div class="icons">
                  <i class="fas fa-shipping-fast"></i>
                  <span>free delivery</span>
              </div>
              <div class="icons">
                  <i class="fas fa-dollar-sign"></i>
                  <span>easy payments</span>
              </div>
              <div class="icons">
                  <i class="fas fa-headset"></i>
                  <span>24/7 service</span>
              </div>
          </div>
          <a href="#" class="btn">learn more</a>
      </div>

  </div>

</section>

    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row-container">
            <p class="fs-5 text-center">Food and Food delivery apps in Nepal are integral aspects for us as Nepal is a multi-cuisine country. Since we live in a multi-cuisine country, our taste buds have high demands. Because of these high taste-bud demands, we crave so many things in so many different hours. That is why we need sources that can live up to our expectations to fulfil these cravings and demands. Here we have listed out the best food delivery apps in Nepal that can and has been living up to our expectations.

            There are tons of restaurants, cafes, and places where we can get various kinds of food to fulfil our cravings. But, what we dont have is the time or sometimes the situation to get our favourite food. For example, we might crave our favourite MoMo while in the middle of the work or crave our all-time favourite ice-cream while we are in the middle of a meeting.</p>
        </div>

        <br><br>
        <h2 class="text-center">Missions</h2>
        <br>
        <div class="row-container">
            <p class="fs-5 text-center">Food and Food delivery apps in Nepal are integral aspects for us as Nepal is a multi-cuisine country. Since we live in a multi-cuisine country, our taste buds have high demands. Because of these high taste-bud demands, we crave so many things in so many different hours. That is why we need sources that can live up to our expectations to fulfil these cravings and demands. Here we have listed out the best food delivery apps in Nepal that can and has been living up to our expectations.

            There are tons of restaurants, cafes, and places where we can get various kinds of food to fulfil our cravings. But, what we dont have is the time or sometimes the situation to get our favourite food. For example, we might crave our favourite MoMo while in the middle of the work or crave our all-time favourite ice-cream while we are in the middle of a meeting.</p>
        </div>

        <br><br>
        <h2 class="text-center">Outlets</h2>
        <br>
        <div class="row-container">
            <p class="fs-5 text-center">Food and Food delivery apps in Nepal are integral aspects for us as Nepal is a multi-cuisine country. Since we live in a multi-cuisine country, our taste buds have high demands. Because of these high taste-bud demands, we crave so many things in so many different hours. That is why we need sources that can live up to our expectations to fulfil these cravings and demands. Here we have listed out the best food delivery apps in Nepal that can and has been living up to our expectations.

            There are tons of restaurants, cafes, and places where we can get various kinds of food to fulfil our cravings. But, what we dont have is the time or sometimes the situation to get our favourite food. For example, we might crave our favourite MoMo while in the middle of the work or crave our all-time favourite ice-cream while we are in the middle of a meeting.</p>
        </div>
    </div>
    <br><br>

{% endblock main-content %}