{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="alert-heading">Reset Password completed</h3>
            <div>
                <iframe src="https://media1.giphy.com/media/dWOKEQ5ewh94RJLemj/giphy.gif?cid=ecf05e47gf6odd6awt4eycx9jkk9buujco1h2uv9jranua93&rid=giphy.gif&ct=g" width="200" height="200" frameBorder="0" class="giphy-embeded" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}